ol{
  display: flex;
  flex-wrap: nowrap;
  padding: 0 auto;
  justify-content:space-around;
  
}
a{
color: rgb(0, 0, 0);

}
.container {
    text-align: center;
   
  }
  
  .lado-esquerdo {
    width: 60px; /* Defina o tamanho desejado para a imagem da esquerda */
    margin-right: 10px; /* Espaço à direita da imagem da esquerda */
  }
  
  .lado-direito {
    width: 80px; /* Defina o tamanho desejado para a imagem da direita */
    margin-left: 1px; /* Espaço à esquerda da imagem da direita */
  }
  .letra{
    font-family: 'EB Garamond', serif;
font-family: 'Lilita One', cursive;
font-family: 'Poller One', cursive;
font-size: 40px;
color:rgb(141, 141, 141);
  }
#franca{
 text-align: center;

}
 .franca{
  font-size: 20px;
  width: 0 auto;
  margin: 1 auto;
  padding: 3px 50px ;
  border: 1px solid #ccc;
} 
#franca table {
    width: 0 auto; 
    margin-right: 20px; /* Adicione uma margem à direita para separar as tabelas */
    text-align: center; /* Alinha o texto da tabela à esquerda */
}

#portugal{
    text-align: center;
   
   }
    #portugal{
     font-size: 20px;
     width: 0 auto;
     margin: 1 auto;
     padding: 3px 50px ;
     border: 1px solid #ccc;
    }

    #alemanha{
        text-align: center;
       
       }
        #alemanha{
         font-size: 20px;
         width: 0 auto;
         margin: 1 auto;
         padding: 3px 50px ;
         border: 1px solid #ccc;
        }
        #polonia{
            text-align: center;
           
           }
            #polonia{
             font-size: 20px;
             width: 0 auto;
             margin: 1 auto;
             padding: 3px 50px ;
             border: 1px solid #ccc;
            }
 /* daqui pra la */
 /* Estilos responsivos para tablets (largura máxima de 768px) */
@media (max-width: 768px) {
    .letra {
        font-size: 30px;
    }
    
    .franca {
        font-size: 16px;
    }
    
    #portugal, #alemanha, #polonia {
        font-size: 16px;
    }
}

/* Estilos responsivos para celulares (largura máxima de 480px) */
@media (max-width: 480px) {
    .letra {
        font-size: 20px;
    }
    
    .franca {
        font-size: 14px;
    }
    
    #portugal, #alemanha, #polonia {
        font-size: 14px;
    }
}

 